@mixin bg-img($src){
    background: url($src) center center no-repeat;
    background-size: cover;
}

html {
    font-size: 10px;
}

body {
    font-size: 16px;
    background-color: #BDBDBD;
    color: #757575;

    .container{
        padding: 0;
    }

    .navbar {
        border: 1px solid #212121;
        padding: 0.3rem 5rem;

        .number_phone {
            color: green;
        }

        .navbar-nav {

            li.nav-item>a.nav-link {
                color: rgb(31, 29, 29);

                &:hover {
                    color: green;

                }
            }

            li>a.nav-link.active {
                color: green;
            }

        }

    }

    header {
        @include bg-img("/img/header.png");
        padding: 15rem 3rem;

        p {
            color: gray;
        }

        h4 {
            font-size: 2em;
            font-weight: bold;

            span {
                color: green;
            }
        }

        form {
            border: 1rem double white;

            div {
                background: rgba($color: #ccc6c6b7, $alpha: 0.95);
                padding: 1.5rem;
            }

            span {
                color: green;
                font-weight: bold;
                font-size: 1em;
            }

            input {
                width: 100%;
                padding: 1rem;
                border-color: transparent;
                border: 2px solid green;
                margin: 1.5rem 0 1.5rem 0;
                border-radius: 0.5rem;

                &::-webkit-input-placeholder {
                    color: green;
                }

                &::-moz-input-placeholder {
                    color: green;
                }

                &::-ms-input-placeholder {
                    color: green;
                }

            }

        }

    }

    .btn {
        border: 2px solid green;
        background-color: transparent;
        color: green;
        border-radius: .5rem;
        font-size: .8em;
        padding: 1rem;
        transition: all 0.7s;

        &:hover {
            background-color: green;
            color: white;
        }
    }
    .btn-inverse {
        border: 2px solid green;
        background-color: transparent;
        color: green;
        border-radius: .5rem;
        font-size: .8em;
        padding: 1rem;
        transition: all 0.7s;

        &:hover {
            background-color: green;
            color: white;
        }
    }

    .title {
        overflow: hidden;
        text-align: center;

        h4 {
            display: inline-block;
            vertical-align: middle;
            color: green;
            font-weight: bold;
            margin: 4rem 0;
            padding: 2rem;
            font-size: 1.5em;
        }

        &::before,
        &::after {
            content: '';
            display: inline-block;
            vertical-align: middle;
            width: 20%;
            height: 1rem;
            background-color: gray;
            position: relative;
            opacity: 1;
        }

        &::before {
            margin: 0 0 0 -100%;
            left: 1.5rem;
        }

        &::after {
            margin: 0 -100% 0 0;
            right: 1.5rem;
        }
    }

    .popcat {
        @include bg-img("/img/background.jpg");
        padding: 0 0 4rem 0;
     
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;


            p {
                padding: 0;
                margin: 0;
                font-weight: bold;
                color: black;
                text-shadow: 0 0 3px green;
                font-size: 1.4em;
                z-index: 110;
                transition: all 1s;
                position: absolute;
            }

            img {
                transition: all 1s;
            }
            &:hover{
                img{
                    background-color: green;
                    transform: scale(1.1);
                }
            }
        }
    }
    
    .adv{
        color:green;
        @include bg-img("/img/adv.jpg");
        position: relative;
        &::before{
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-image: linear-gradient(left, green 0%, rgb(40, 167, 40) 50%, rgb(16, 231, 16) 100%);
            opacity: .6;
        }
        .row{
            padding: 3rem 0;
        }
        h6{
            margin: 1rem 0;
            font-weight: bold;
            font-size: 1em;

        }
        p{
            font-size: 0 0.7em;
            padding: .2em .3em;
        }
    }
    .popgoods{
    @include bg-img("/img/background.jpg");
    .row{
        padding: 0 0 3rem 0;
    }
    .row:first-child{
        padding: 0;
    }
    h6{
        font-size: 1.3em;
    }
    }
}